@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto:wght@400;500;700&display=swap');
*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 140%;
    color: #1f1e1e;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.title{
    text-align: center;
    font-size: 36px;
    line-height: 47px;
    font-weight: 500;
}
.container{
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
    
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
}

.header__phone{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    
}
.header__phone-number{
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    padding: 13px 31px;
    border-radius: 22px;
    background-color: #886239;
    margin-left: 19px;
    font-weight: 400;

}
.menu{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 27px 0 24px;
    margin-top: 15px;

}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}
  
.header__title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 117px;
    text-align: center;
    margin-bottom: auto;
    padding-bottom: 400px;
    
}
.header__descr{
    max-width: 422px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    
}
.header__btn{
    color: #fff;
    line-height: 21px;
    border-radius: 30px;
    background-color: #886239;
    padding: 19px 54px;
   margin-bottom: 20px;
   display: inline-block;
}

.header__arrow{
    text-align: center;
    margin-bottom: 14px;
}
.direction{
    padding: 100px 0;
}
.direction__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.direction__img{
display: block;
}
   
.description__text{
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #d9d9de;
    border-top: none;
    padding: 12px 19px 19px;
    
}
.travel-info{
    background-image: url(../images/panorama-back.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 50px;
    margin-bottom: 100px;
}
.travel-info__title{
    margin-bottom: 52px;
    color: #fff;
   
}
.travel-info__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 67px;
}
.travel-info__img{
    margin-bottom: 15px;
}
.travel-info__text{
    
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}
.popular{
    padding-bottom: 100px;
}
.popular__title{
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 40px;
}
.popular__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 80px;
    border-bottom: 1px solid #d9d9de;
}
.popular__link{
    padding: 16px 24px 19px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 256px;
    line-height: 21px;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 15px;

}
.popular__price{
font-weight: 700;
font-size: 16px;
margin-top: auto;

}
.popular__country{
font-size: 16px;

margin-bottom: 15px;
}
.popular__time{
font-size: 16px;

margin-bottom: 15px;
}
.popular__link-title--big{
    font-size: 24px;
    
}
.map{
    padding-bottom: 100px;
}
.map__title{
    margin-bottom: 46px;
}
.about{
    padding-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}
.about__content{
    max-width: 448px;
}
.about__title{
    text-align: left;
    margin-bottom: 25px;
}
.about__text{
    margin-bottom: 34px;
}
.about__link{
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    text-decoration: underline;
}
.about__popup{
    background-image: url(../images/video.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__link-img{
    
}